<section class="vh-100 flex">

  <div class="container-fluid h-custom">
    <h1 class="h1 flex justify-content-center pt-20">Adicionar Pontuação</h1>

    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../../assets/img/13104653_5150780.svg"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (ngSubmit)="submit(form)" #form="ngForm">


          <div class="-flex align-items-center my-4">
            <h1 class="text-center fw-bold mx-3 mb-0">Adicione pontuação para o jogador(a)</h1>

          </div>

          <!-- nome input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Pontos</label>
            <input type="number" id="form3Example3" class="form-control form-control-lg"
             placeholder="Ex: 100" name="score" [(ngModel)]="score.score" />

          </div>


          <div class="text-center text-lg-start mt-4 pt-2 ">
            <!-- <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Cadastrar</button> -->
              <button type="submit" class="btn btn-warning btn-md btn-block custom-orange-bg"class="btn btn-primary btn-lg" [disabled]="isSubmit">
                <span *ngIf="!isSubmit">Salvar</span>
                <span *ngIf="isSubmit">
                  <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </span>
              </button>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
