<section>
  <!-- Image and text -->
  <section>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-body-tertiary bg-white">
      <div class="d-flex align-items-center" (click)="goToHome()" style="cursor: pointer;">
        <img
          src="../../../assets/img/fotor-20240418112946.png"
          class="me-2 img"
          height="50"
          alt="MDB Logo"
          loading="lazy"
        />
        <h1 class="ms-2">I,Program</h1>
      </div>
    </nav>
  </section>
</section>
